/* CSSの基本構文 */

/* セレクター {
    プロパティ: 値;
} */

h1 {
    font-size: 24px; /* フォントサイズ */
    color: blue; /* フォントカラー */
    margin-bottom: 30px; /* 下の余白 */
}

p {
    line-height: 3.5; /* 行間 */
    width: 300px; /* 幅 */
    background-color: beige; /* 背景色 */
    border: 1px solid blue; /* ボーダーの枠線を1pxにする */
    padding: 2px; /* 内側に余白を作る（パディング） */
}

/* セレクターは、どの要素にスタイルを適用するかを指定する。 */

/* セレクターの中に入れるプロパティを「宣言」という。 */
/* font-size: 24px; */

/* セレクターに複数のプロパティが入っている状態を「宣言ブロック」という。 */
/* font-size: 24px; */
/* color: blue; */

