.container {
    display: grid;
    width: 800px;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 140px 500px 120px;
    margin: 0 auto;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: #eedcb3;
}

.aside1 {
    grid-column: 1;
    grid-row: 2;
    background-color: #00ffff;
}

.main {
    grid-column: 2;
    grid-row: 2;
    background-color: #00ffff;
    margin-right: 2px;
}

.aside2 {
    grid-column: 4;
    grid-row: 2;
    background-color: #00ffff;
}

.footer {
    grid-column: 1 / 5;
    grid-row: 3;
    background-color: #eedcb3;
    margin-top: 2px;
}